In [1]:
import pandas as pd

In [2]:
dicionario = {
    'cliente': ['rubens', 'alana'],
    'valor': [350, 450],
    'data': ['10/02/2021', '23/10/2023'],
}

print(dicionario)

{'cliente': ['rubens', 'alana'], 'valor': [350, 450], 'data': ['10/02/2021', '23/10/2023']}

In [3]:
dicionario_dataframe = pd.DataFrame(dicionario)

In [4]:
print(dicionario_dataframe)
display(dicionario_dataframe)

  cliente  valor        data
0  rubens    350  10/02/2021
1   alana    450  23/10/2023

  cliente  valor        data
0  rubens    350  10/02/2021
1   alana    450  23/10/2023

In [5]:
banco_dados = pd.read_excel("banco_dados.xlsx")
display(banco_dados)

           Telefone     Nome Estado        Cidade
0  +55(11)900000000  Ricardo     SP     São Paulo
1  +55(11)900000001     Luiz     BA      Salvador
2  +55(11)900000002    Alana     SC      Curitiba
3  +55(11)900000003   Monica     SP     Sao Paulo
4  +55(11)900000004    Lucca     SP   Santo Andre
5  +55(11)900000005     Joao     SP  Sao bernardo

In [ ]:
print(banco_dados[])